---
- name: Generate a random erlang_cookie and set it
  block:
    - name: Generate
      set_fact:
        rabbitmq_generated_erlang_cookie: "{{ lookup('community.general.random_string', special=false, length=16) }}"

    - name: Set
      set_fact:
        rabbitmq_erlang_cookie: "{{ rabbitmq_generated_erlang_cookie }}"
  when: rabbitmq_predefined_erlang_cookie == "itsasecret"

- name: Set the erlang_cookie with the predefined value
  set_fact:
    rabbitmq_erlang_cookie: "{{ rabbitmq_predefined_erlang_cookie }}"
  when: rabbitmq_predefined_erlang_cookie != "itsasecret"

- name: Create the directory if it does not exist
  ansible.builtin.file:
    path: "{{ rabbitmq_path }}"
    state: directory
    mode: '0755'

- name: Create the data directory for persistent volume
  ansible.builtin.file:
    path: "{{ rabbitmq_data_volume }}"
    state: directory
    mode: '0755'

- name: Copy RabbitMQ configuration template
  ansible.builtin.template:
    src: rabbitmq.conf.j2
    dest: "{{ rabbitmq_path }}/rabbitmq.conf"
    mode: '0644'
  notify: docker restart

- name: Copy erlang cookie template
  ansible.builtin.template:
    src: erlang.cookie.j2
    dest: "{{ rabbitmq_path }}/.erlang.cookie"
    mode: '0644'
  notify: docker restart

- name: Set erlang cookie permissions to be readable by container
  ansible.builtin.file:
    path: "{{ rabbitmq_path }}/.erlang.cookie"
    mode: '0644'