# disables non-TLS listeners, only TLS-enabled clients will be able to connect
listeners.tcp = {{ rabbitmq_config.listeners.tcp }}
listeners.ssl.default  = {{ rabbitmq_config.ssl_listeners.default }}
ssl_options.cacertfile = {{ rabbitmq_config.ssl_options.cacertfile }}
ssl_options.certfile   = {{ rabbitmq_config.ssl_options.certfile }}
ssl_options.keyfile    = {{ rabbitmq_config.ssl_options.keyfile }}
ssl_options.verify     = {{ rabbitmq_config.ssl_options.verify}}
ssl_options.fail_if_no_peer_cert = {{ rabbitmq_config.ssl_options.fail_if_no_peer_cert }}

{% if rabbitmq_setup == "cluster" %}
cluster_name = {{ rabbitmq_cluster_name }}
cluster_formation.peer_discovery_backend = classic_config
{% for member in rabbitmq_cluster_members %}
cluster_formation.classic_config.nodes.{{ loop.index }} = {{ member }}
{% endfor %}
{% endif %}